.council{
  position: relative;
  width: 939px;
  height: 651px;
  left: 50;
  top: 50;
  background: url('img/council_edit.png') 0 top no-repeat;
  display: flex;
  flex-direction: column-reverse;
  align-items: left;
}
.council__row{
  display: flex;
  margin: 30px -15px;
}
.council__group{
  display: flex;
  margin: 0 15px;
}
.council__chair{
  position: absolute;
  background-color: #333;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 2em 2em 0 0 ;
}
.council__chair--main{
  background-color: #00abff;
  width: 70px;
  height: 70px;
}
.council__chair--active{
  background-color: green;
}
.council__chair--disabled{
  background-color: red;
}
.council__chair--noData{
  background-color: gray;
}

.council__chair--calibrating{
  background-color: yellow;
}

.elect{
	position: absolute;
	top: 400;
	left: 100;
}

.yesStr{
	color: green;
}

.noStr{
	color: red;
}

.attendees{
  position: absolute;
  top: 100;
  right: 200;
}

div#s1 {
	bottom: 305;
	left: 447;
}

div#s2 {
    bottom: 302;
    left: 410;
-webkit-transform: rotate(350deg);
}

div#s3 {
    bottom: 294;
    left: 372;
-webkit-transform: rotate(340deg);
}

div#s4 {
    bottom: 302;
    left: 486;
-webkit-transform: rotate(10deg);
}

div#s5 {
    bottom: 292;
    left: 525;
-webkit-transform: rotate(20deg);
}
